@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('/static/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('/static/fonts/OpenSans-Regular.woff') format('woff');
}

/* converting english numbers to persian numbers */
.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    text-align:left !important;
}